pipeline/pl_copy_basicBinaryFile_erni.json
{
	"name": "pl_copy_basicBinaryFile_erni",
	"properties": {
		"activities": [
			{
				"name": "copy_binaryFileAdlsToAdls",
				"description": "Copy a file from the source store to the destination store.",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"deleteFilesAfterCompletion": {
								"value": "@pipeline().parameters.par_deleteFilesAfterCompletion",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						},
						"recursive": false
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false,
					"dataIntegrationUnits": 2
				},
				"inputs": [
					{
						"referenceName": "ds_adlsBinaryFile",
						"type": "DatasetReference",
						"parameters": {
							"par_storageAccount": {
								"value": "@concat(pipeline().parameters.par_sourceStorageAccount,pipeline().globalParameters.par_environment)",
								"type": "Expression"
							},
							"par_container": {
								"value": "@pipeline().parameters.par_sourceContainer",
								"type": "Expression"
							},
							"par_directory": {
								"value": "@pipeline().parameters.par_sourceDirectory",
								"type": "Expression"
							},
							"par_filename": {
								"value": "@pipeline().parameters.par_sourceFileName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adlsBinaryFile",
						"type": "DatasetReference",
						"parameters": {
							"par_storageAccount": {
								"value": "@concat(pipeline().parameters.par_targetStorageAccount,pipeline().globalParameters.par_environment)",
								"type": "Expression"
							},
							"par_container": {
								"value": "@pipeline().parameters.par_targetContainer",
								"type": "Expression"
							},
							"par_directory": {
								"value": "@pipeline().parameters.par_targetDirectory",
								"type": "Expression"
							},
							"par_filename": {
								"value": "@pipeline().parameters.par_targetFileName",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "executePipeline_writeErrorLog",
				"description": "Pass error information to pl_writeLogToQueue and execute it.",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "copy_binaryFileAdlsToAdls",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_writeLogToQueue",
						"type": "PipelineReference"
					},
					"waitOnCompletion": false,
					"parameters": {
						"par_logType": "Error",
						"par_logId": {
							"value": "@activity('copy_binaryFileAdlsToAdls').Error.errorCode",
							"type": "Expression"
						},
						"par_logMessage": {
							"value": "@activity('copy_binaryFileAdlsToAdls').Error.message",
							"type": "Expression"
						},
						"par_jobName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"par_jobId": {
							"value": "@pipeline().parameters.par_jobId",
							"type": "Expression"
						},
						"par_jobRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"par_parentJobRunId": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "executePipeline_writeSuccessLog",
				"description": "Pass error information to pl_writeLogToQueue and execute it.",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "copy_binaryFileAdlsToAdls",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_writeLogToQueue",
						"type": "PipelineReference"
					},
					"waitOnCompletion": false,
					"parameters": {
						"par_logType": "Success",
						"par_logId": "FILE COPIED",
						"par_logMessage": "File was successfully copied",
						"par_jobName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"par_jobId": {
							"value": "@pipeline().parameters.par_jobId",
							"type": "Expression"
						},
						"par_jobRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"par_parentJobRunId": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"par_jobId": {
				"type": "string",
				"defaultValue": "task1"
			},
			"par_deleteFilesAfterCompletion": {
				"type": "bool",
				"defaultValue": false
			},
			"par_sourceStorageAccount": {
				"type": "string",
				"defaultValue": "workshopinbound"
			},
			"par_sourceContainer": {
				"type": "string",
				"defaultValue": "landing"
			},
			"par_sourceDirectory": {
				"type": "string",
				"defaultValue": "task1"
			},
			"par_sourceFileName": {
				"type": "string",
				"defaultValue": "onlyCopyMe.txt"
			},
			"par_targetStorageAccount": {
				"type": "string",
				"defaultValue": "workshopinbound"
			},
			"par_targetContainer": {
				"type": "string",
				"defaultValue": "landingerni"
			},
			"par_targetDirectory": {
				"type": "string",
				"defaultValue": "task1"
			},
			"par_targetFileName": {
				"type": "string",
				"defaultValue": "nowOpenMe.txt"
			}
		},
		"folder": {
			"name": "Übung1"
		},
		"annotations": []
	}
}