pipeline/pl_delete_basicBinaryFile.json
{
	"name": "pl_delete_basicBinaryFile",
	"properties": {
		"activities": [
			{
				"name": "executePipeline_writeErrorLog",
				"description": "Pass error information to pl_writeLogToQueue and execute it.",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "delete_binaryFileAdls",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_writeLogToQueue",
						"type": "PipelineReference"
					},
					"waitOnCompletion": false,
					"parameters": {
						"par_logType": "Error",
						"par_logId": {
							"value": "@activity('delete_binaryFileAdls').Error.errorCode",
							"type": "Expression"
						},
						"par_logMessage": {
							"value": "@activity('delete_binaryFileAdls').Error.message",
							"type": "Expression"
						},
						"par_jobName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"par_jobId": "Übung 0",
						"par_jobRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"par_parentJobRunId": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "delete_binaryFileAdls",
				"type": "Delete",
				"dependsOn": [],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adlsBinaryFile",
						"type": "DatasetReference",
						"parameters": {
							"par_storageAccount": "workshopinbounddevl",
							"par_container": "landing",
							"par_directory": "deleteme",
							"par_filename": {
								"value": "@pipeline().parameters.par_filename",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "executePipeline_writeSuccessLog",
				"description": "Pass error information to pl_writeLogToQueue and execute it.",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "delete_binaryFileAdls",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_writeLogToQueue",
						"type": "PipelineReference"
					},
					"waitOnCompletion": false,
					"parameters": {
						"par_logType": "Success",
						"par_logId": "FILE DELETED",
						"par_logMessage": {
							"value": "@concat(pipeline().parameters.par_filename, ' was deleted!')",
							"type": "Expression"
						},
						"par_jobName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"par_jobId": "Übung 0",
						"par_jobRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"par_parentJobRunId": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"par_filename": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Übung1"
		},
		"annotations": [],
		"lastPublishTime": "2022-08-12T09:05:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}