pipeline/pl_writeLogToQueue.json
{
	"name": "pl_writeLogToQueue",
	"properties": {
		"activities": [
			{
				"name": "web_getSasTokenFromAkv",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "setVar_messageText",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(pipeline().globalParameters.par_akvSasTokenUrlForWritingToQueue,'?api-version=7.0')",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "web_writeToStorageQueue",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "web_getSasTokenFromAkv",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://', pipeline().globalParameters.par_metadataStorageAccountName, pipeline().globalParameters.par_environment, '.queue.core.windows.net/', pipeline().globalParameters.par_loggingStorageQueueName, '/messages?visibilitytimeout=30&timeout=30','&', activity('web_getSasTokenFromAkv').output.value)",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"value": "@concat('<QueueMessage>  \n    <MessageText>',variables('var_messageText'),'</MessageText>  \n</QueueMessage>')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "setVar_messageText",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "var_messageText",
					"value": {
						"value": "@concat('kürzel: ',pipeline().globalParameters.par_kürzel,'\r\nlogType: ', pipeline().parameters.par_logType,'\r\njobId: ', pipeline().parameters.par_jobId,'\r\nlogMessage: ', pipeline().parameters.par_logMessage,'\r\njobName: ', pipeline().parameters.par_jobName,'\r\njobId: ', pipeline().parameters.par_jobId,'\r\njobRunId: ', pipeline().parameters.par_jobRunId,'\r\nparentJobRunId: ', pipeline().parameters.par_parentJobRunId)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"par_logType": {
				"type": "string"
			},
			"par_logId": {
				"type": "string"
			},
			"par_logMessage": {
				"type": "string"
			},
			"par_jobName": {
				"type": "string"
			},
			"par_jobId": {
				"type": "string"
			},
			"par_jobRunId": {
				"type": "string"
			},
			"par_parentJobRunId": {
				"type": "string"
			}
		},
		"variables": {
			"var_messageText": {
				"type": "String"
			}
		},
		"folder": {
			"name": "AMIS/4_Shared/Logging and Alerting"
		},
		"annotations": []
	}
}